<div class="py-5 px-1">

  <div>
    <div class="col-md-12">
      <!-- <section class="layout-row align-items-center justify-content-center">
        <input type="text" class="large" placeholder="Enter Search" [(ngModel)]="searchValue" (ngModelChange)="onChangeEvent($event)" />
      </section> -->
      <div class="col-md-3"> 
        <select [(ngModel)]="selectedValue" id="exampleFormControlSelect1" class="form-control" (ngModelChange)="onSelectEvent($event)">
          <option *ngFor="let option of options" [value]="option.value">{{option.name}}</option>
        </select>
      </div>

      <div *ngIf="selectedValue === ''">

        <h3>My Invoices List</h3>
        <div *ngFor="let line of resultLines" class="card">
          <div class="item-group">
            <div class="item">
              {{ line.invoiceNumber }}
            </div>
            <div class="item">
              {{ line.invoiceDate }}
            </div>
            <div class="item">
              {{ line.distributorName }}
            </div>
            <div class="item">
              {{ line.distributorAddress }}
            </div>
            <div class="item">
              {{ line.customerName }}
            </div>
            <div class="item">
              {{ line.customerAddress }}
            </div>
            <div class="item">
              {{ line.manufacturerName }}
            </div>
            <div class="item">
              {{ line.manufacturerAddress }}
            </div>
            <div class="item">
              {{ line.productCode }}
            </div>
            <div class="item">
              {{ line.productDescription }}
            </div>
            <div class="item">
              {{ line.unitOfMeasure }}
            </div>
            <div class="item">
              {{ line.quantity }}
            </div>
            <div class="item">
              {{ line.weight }}
            </div>
            <div class="item">
              {{ line.unitPrice }}
            </div>
            <div class="item">
              {{ line.totalPrice }}
            </div>
          </div>
        </div>

      </div>

      <div *ngIf="selectedValue !== ''">
        
        <h3>My Invoices Grouped</h3>
        <div *ngFor="let groupedLine of filteredLines" class="card">
          
          <h4>{{groupedLine.title}}</h4>
          <div *ngFor="let line of groupedLine.data" class="card">
            <div class="item-group">
              <div class="item">
                {{ line.invoiceNumber }}
              </div>
              <div class="item">
                {{ line.invoiceDate }}
              </div>
              <div class="item">
                {{ line.distributorName }}
              </div>
              <div class="item">
                {{ line.distributorAddress }}
              </div>
              <div class="item">
                {{ line.customerName }}
              </div>
              <div class="item">
                {{ line.customerAddress }}
              </div>
              <div class="item">
                {{ line.manufacturerName }}
              </div>
              <div class="item">
                {{ line.manufacturerAddress }}
              </div>
              <div class="item">
                {{ line.productCode }}
              </div>
              <div class="item">
                {{ line.productDescription }}
              </div>
              <div class="item">
                {{ line.unitOfMeasure }}
              </div>
              <div class="item">
                {{ line.quantity }}
              </div>
              <div class="item">
                {{ line.weight }}
              </div>
              <div class="item">
                {{ line.unitPrice }}
              </div>
              <div class="item">
                {{ line.totalPrice }}
              </div>
            </div>

          </div>
        </div>

      </div>
      
    </div>
  </div>

</div>
